[submodule "vimfiles/bundle/neocomplete.vim"]
	path = vimfiles/bundle/neocomplete.vim
	url = https://github.com/Shougo/neocomplete.vim
[submodule "vimfiles/bundle/gvimfullscreen_win32"]
	path = vimfiles/bundle/gvimfullscreen_win32
	url = https://github.com/derekmcloughlin/gvimfullscreen_win32
[submodule "vimfiles/bundle/ctrlp.vim"]
	path = vimfiles/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim
[submodule "vimfiles/bundle/MatchTag"]
	path = vimfiles/bundle/MatchTag
	url = https://github.com/gregsexton/MatchTag.git
[submodule "vimfiles/bundle/LaTeX-Box"]
	path = vimfiles/bundle/LaTeX-Box
	url = git://github.com/LaTeX-Box-Team/LaTeX-Box.git
[submodule "vimfiles/bundle/ack.vim"]
	path = vimfiles/bundle/ack.vim
	url = https://github.com/mileszs/ack.vim
[submodule "vimfiles/bundle/gundo.vim"]
	path = vimfiles/bundle/gundo.vim
	url = https://github.com/sjl/gundo.vim
[submodule "vimfiles/bundle/vim-fireplace"]
	path = vimfiles/bundle/vim-fireplace
	url = https://github.com/tpope/vim-fireplace
[submodule "vimfiles/bundle/scratch.vim"]
	path = vimfiles/bundle/scratch.vim
	url = https://github.com/mtth/scratch.vim
	ignore = dirty
[submodule "vimfiles/bundle/jedi-vim"]
	path = vimfiles/bundle/jedi-vim
	url = https://github.com/davidhalter/jedi-vim
[submodule "vimfiles/bundle/vim-characterize"]
	path = vimfiles/bundle/vim-characterize
	url = https://github.com/tpope/vim-characterize
[submodule "misc/gnome-terminal-colors-solarized"]
	path = misc/gnome-terminal-colors-solarized
	url = https://github.com/Anthony25/gnome-terminal-colors-solarized
