[submodule "vimfiles/bundle/neocomplete.vim"]
	path = vim/vim/bundle/neocomplete.vim
	url = https://github.com/Shougo/neocomplete.vim
[submodule "vimfiles/bundle/gvimfullscreen_win32"]
	path = vim/vim/bundle/gvimfullscreen_win32
	url = https://github.com/derekmcloughlin/gvimfullscreen_win32
[submodule "vimfiles/bundle/ctrlp.vim"]
	path = vim/vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim
[submodule "vimfiles/bundle/MatchTag"]
	path = vim/vim/bundle/MatchTag
	url = https://github.com/gregsexton/MatchTag.git
[submodule "vimfiles/bundle/LaTeX-Box"]
	path = vim/vim/bundle/LaTeX-Box
	url = git://github.com/LaTeX-Box-Team/LaTeX-Box.git
[submodule "vimfiles/bundle/ack.vim"]
	path = vim/vim/bundle/ack.vim
	url = https://github.com/mileszs/ack.vim
[submodule "vimfiles/bundle/gundo.vim"]
	path = vim/vim/bundle/gundo.vim
	url = https://github.com/sjl/gundo.vim
[submodule "vimfiles/bundle/vim-fireplace"]
	path = vim/vim/bundle/vim-fireplace
	url = https://github.com/tpope/vim-fireplace
[submodule "vimfiles/bundle/scratch.vim"]
	path = vim/vim/bundle/scratch.vim
	url = https://github.com/mtth/scratch.vim
	ignore = dirty
[submodule "vimfiles/bundle/vim-characterize"]
	path = vim/vim/bundle/vim-characterize
	url = https://github.com/tpope/vim-characterize
[submodule "vimfiles/bundle/vim-surround"]
	path = vim/vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "vimfiles/bundle/vim-fish"]
	path = vim/vim/bundle/vim-fish
	url = https://github.com/dag/vim-fish
[submodule "vimfiles/bundle/editorconfig-vim"]
	path = vim/vim/bundle/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim
[submodule "vim/vim/bundle/vim-pathogen"]
	path = vim/vim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule "vim/vim/bundle/jedi-vim"]
	path = vim/vim/bundle/jedi-vim
	url = https://github.com/davidhalter/jedi-vim
